<<<<<<< HEAD
/**
 * Generally all the blocks that make up wireframe components
 *
 * Common to all wireframes no matter the theme
 */

.block {
=======
/* Wireframe components
   =========================================== */
.block {
	color: #fff;
	background: #231f20; /* designers love this colour */
>>>>>>> e6944fc34bee4c879620d574194f7312f81406ba
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 3em 1em;
	margin-bottom: 0.5em;
}

<<<<<<< HEAD
.block--image {
	background-image:url("../assets/lines.svg");
=======
.block--large {
	padding: 6em 1em;
}

.block--square {
	padding: 6em 1em;
>>>>>>> e6944fc34bee4c879620d574194f7312f81406ba
}

.block--small {
	padding: 0.25em 1em;
}

<<<<<<< HEAD
.block--regular {
	padding: 1em;
}

.block--medium {
	padding: 8em 1em;
}

.block--large {
	padding: 6em 1em;
}

.block--box {
	border: 5px solid #738bc0;
	padding: 2em 1em;
}

.block--button {
	padding: 1em;
}

@media (min-width:40em) {
	.block--large {
		padding: 9em 1em;
	}
=======
.block--plain {
	color: #231f20;
	background: none;
	padding: 0.25em 0;
}

.block--box {
	color: #231f20;
	background: none;
	border: 5px solid #231f20;
	padding: 2em 1em;
}

.block--large.block--box {
	padding: 6em 1em;
}

.block--tall {
	padding: 3em 1em 25em;
}

.block--button {
	color: #000;
	background: #dadada;
	border: 4px solid #000;
	padding: 1em;
>>>>>>> e6944fc34bee4c879620d574194f7312f81406ba
}