/**
 * Wireframe components independent of layout
 *
 * Common to all wireframes no matter the theme
 */

/* ==========================================================================
   Headings
   ========================================================================== */

.feature-title {
	font-size: 2em;
}

.page-title {
	font-size: 1.5em;
}

.section-title {
	font-size: 1.25em;
}

.subsection-title {
	font-size: 1em;
}

.minor-title {
	font-size: 0.875em;
}

/* ==========================================================================
   Generic blocks
   ========================================================================== */

.block {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 1em;
	margin-bottom: 0.5em;
}

.block--small {
	padding: 0.25em 1em;
}

.block--medium {
	padding: 3em 1em;
}

.block--large {
	padding: 6em 1em;
}

.block--box {
	/* see theme styles for border */
	padding: 2em 1em;
}

.block--image {
	/* see theme styles */
}

.block--video {
	background-position: center;
	background-repeat: no-repeat;
	/* see theme styles for background-image */
}

@media (min-width:40em) {
	.block--large {
		padding: 9em 1em;
	}
}