/**
 * All position, floats, margin, width and display declarations go in here.
 *
 * prefix all classnames with `l-` e.g. .l-nav
 */

/* ==========================================================================
   Main wrapper
   ========================================================================== */

.l-wrap {
	display: block;
	width: 95%;
	max-width: 75em;
	margin: 0 auto;
}

@media(min-width:60em) {
	.l-wrap {
		width: 85%;
	}
}

/* ==========================================================================
   Grid system
   ========================================================================== */
/**
 * Grid items must be wrapped in a container with class l-grid
 *
 * The styles in the media query blocks are commonly used
 * examples. For any others that are required use the formula:
 *
 * (fraction * 100) - gutter
 * where gutter is the negative left margin on .l-grid
 *
 * e.g. l-desk-three-fifths is (3/5 * 100) - 2.5
 */

.l-grid {
	margin-left: -2.5%;
}

.l-grid__item {
	display: inline-block;
	vertical-align: top;
	margin-left: 2.5%;
}

@media(min-width:20em) {
	.l-hand-whole {
		width: 97.5%;
	}
	
	.l-hand-half {
		width: 47.5%;
	}

	.l-hand-third {
		width: 30.83333333333333%;
	}

	.l-hand-quarter {
		width: 22.5%;
	}
}

@media(min-width:40em) {
	.l-lap-whole {
		width: 97.5%;
	}
	
	.l-lap-half {
		width: 47.5%;
	}

	.l-lap-third {
		width: 30.83333333333333%;
	}

	.l-lap-two-thirds {
		width: 64.166666666667%;
	}

	.l-lap-quarter {
		width: 22.5%;
	}

	.l-lap-three-quarters {
		width: 72.5%;
	}
}

@media(min-width:60em) {
	.l-desk-whole {
		width: 97.5%;
	}

	.l-desk-half {
		width: 47.5%;
	}

	.l-desk-third {
		width: 30.83333333333333%;
	}

	.l-desk-quarter {
		width: 22.5%;
	}

	.l-desk-three-quarters {
		width: 72.5%;
	}

	.l-desk-two-fifths {
		width: 37.5%;
	}

	.l-desk-three-fifths {
		width: 57.5%;
	}
}

/* ==========================================================================
   Navigation examples
   ========================================================================== */
/**
 * Pick one and delete the others
 */

/* 1. Navigation in header below logo with button to toggle it in and out of view. Use with nav-sample-1.html for demo
   ========================================================================== */

.l-toggle {
	display: none;
}

@media (min-width:20em) {
	.l-toggle {
		display: block;
		position: absolute;
		padding: 1em;
		top: 1em;
		right: 1em;
	}

	.l-toggle--close {
		z-index: 2;
	}

	.l-menu {
		position: absolute;
		top: -500%;
		left: 0;
	}

	.l-menu:target {
		position: static;
		padding-top: 50em;
		margin-top: -50em;
	}
}

@media (min-width:40em) {
	.l-toggle {
		display: none;
	}

	.l-menu {
		position: static;
	}
}

/* 2. Navigation in header above logo with button to toggle it in and out of view. Use with nav-sample-2.html for demo
   ========================================================================== */

.l-toggle {
	display: none;
}

@media (min-width:20em) {
	.l-toggle {
		display: block;
		float: right;
		margin-top: 1em;
	}

	.l-menu {
		position: absolute;
		top: -500%;
		left: 0;
	}

	.l-menu:target {
		position: static;
		padding-top: 50em;
		margin-top: -50em;
	}

	.l-menu:target~.l-toggle--open {
		display: none;
	}
}

@media (min-width:40em) {
	.l-toggle {
		display: none;
	}

	.l-menu {
		position: static;
	}
}

/* 3. Content first, navigation second with nav overlaying header at first media declaration, below header at second. Use with nav-sample-3.html for demo
   ========================================================================== */

.l-toggle--close {
	display: none;
}

@media (min-width:20em) {
	.l-toggle--open {
		float: right;
		margin-top: 1em;
	}

	.l-toggle--close {
		display: block;
		float: right;
	}

	.l-menu {
		position: absolute;
		left: 2.5%;
		right: 2.5%;
		top: -500%;
		width: 95%;
	}

	.l-menu:target {
		top: 0;
	}
}

@media (min-width:40em) {
	.l-toggle {
		display: none;
	}

	.l-menu,
	.l-menu:target {
		top: 5.375em; /* This must match the height of header. Flexible media will present a challenge if present e.g. no max-width on logo that applies from this width up */
	}

	.l-content {
		margin-top: 5.375em;
	}
}

@media(min-width:60em) {
	.l-menu {
		width: 85%;
		left: 7.5%;
	}
}

/* ==========================================================================
   Media object - Thumbnail on the left, heading and intro on the right.
   Based on http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
   ========================================================================== */

.l-media,
.l-media__body {
	overflow: hidden;
}

.l-media__img-wrap {
	display: block;
	margin-bottom: 1em;
}

.l-media__img {
	display: block;
	margin: 0 auto;
}

@media (min-width:20em) {
	.l-media__img-wrap {
		float: left;
		width: 33%;
		margin-right: 6%;
	}
}

/* ==========================================================================
   Stretch object ~ an element containing elements that stick to the left and right sides
   ========================================================================== */

.l-stretch__item {
	display: block;
	clear: left;
}

.l-stretch__left {
	display: block;
	clear: left;
	margin-bottom: 0.5em;
}

@media (min-width:20em) {
	.l-stretch {
		text-align: right;
	}

	.l-stretch__item {
		display: inline-block;
	}

	.l-stretch__left {
		float: left;
	}
}

/* ==========================================================================
   Logo
   ========================================================================== */

.l-logo {
	width: 100%;
	max-width: 9.25em;
	margin: 1em 0;
}