/**
 * BLUEPRINT THEME
 *
 * Blue background with white text and light blue lines
 */

body {
	color: #fff;
	background-color: #2b51a6;
}

a {
	color: #a3cbde;
}

.block {
	background-color: #2b51a6;
	border: 1px solid #738bc0;
}

.block--box {
	border: 5px solid #738bc0;
}

.block--image {
	background-image: url("../assets/lines.svg");
}

.block--video {
	background-image: url("../assets/play-button.svg");
}